node-red-data/.flows.json.backup
[
    {
        "id": "18f6508e9cb7b764",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a60cb82e4b065425",
        "type": "mqtt-broker",
        "name": "",
        "broker": "vngalaxy.vn",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a3d6d2b074a71089",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgres",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "nodered",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "root",
        "userFieldType": "str",
        "password": "example",
        "passwordFieldType": "str"
    },
    {
        "id": "e27d01bd49667623",
        "type": "mqtt in",
        "z": "18f6508e9cb7b764",
        "name": "Serveur LoRaWAN",
        "topic": "application/89/devices/1b40b40a998843fa/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a60cb82e4b065425",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "4cc81eeed4a03a90",
                "1ef12aecfa21bb8c"
            ]
        ]
    },
    {
        "id": "4cc81eeed4a03a90",
        "type": "debug",
        "z": "18f6508e9cb7b764",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 360,
        "wires": []
    },
    {
        "id": "f0aec75e87ed777e",
        "type": "postgresql",
        "z": "18f6508e9cb7b764",
        "name": "postgres",
        "query": "DELETE FROM my_table;\n",
        "postgreSQLConfig": "a3d6d2b074a71089",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "1752491023b1d76d"
            ]
        ]
    },
    {
        "id": "1752491023b1d76d",
        "type": "debug",
        "z": "18f6508e9cb7b764",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "1ef12aecfa21bb8c",
        "type": "function",
        "z": "18f6508e9cb7b764",
        "name": "function 1",
        "func": "msg.payload = {\n    valeur: msg.payload.valeur,\n    datetime: msg.payload.datetime\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "177887d466efac95",
                "f0aec75e87ed777e"
            ]
        ]
    },
    {
        "id": "177887d466efac95",
        "type": "debug",
        "z": "18f6508e9cb7b764",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 80,
        "wires": []
    }
]